<h1>Editar Docente</h1>

<%= render 'form', docentes: @docente %>

<br>
<div class="row">
  <div class="col-md-6">
    <%= link_to 'Back', docentes_path, class: "btn btn-outline-warning" %>
  </div>
</div>
