<h1>Editar Estudiante</h1>

<%= render 'form', estudiante: @estudiante %>

<br>
<div class="row">
  <div class="col-md-6">
    <%= link_to 'Back', estudiantes_path, class: "btn btn-outline-warning" %>
  </div>
</div>
